#ignore node modules
node_modules/

#ignore dist
dist/

#astra files
astra-body-tracker/astra-body-tracker/astra-body-tracker.vcxproj
astra-body-tracker/.vs/astra-body-tracker/v15/
astra-body-tracker/astra-body-tracker/x64/Debug/astra-bo.CA94590F.tlog/
astra-body-tracker/x64/Debug/astra-body-tracker.exe
astra-body-tracker/astra-body-tracker/x64/Debug/button.obj
astra-body-tracker/astra-body-tracker/x64/Debug/main.obj
astra-body-tracker/astra-body-tracker/x64/Debug/vc141.idb
astra-body-tracker/x64/Debug/astra-body-tracker.ilk
astra-body-tracker/x64/Debug/astra-body-tracker.pdb
astra-body-tracker/astra-body-tracker/x64/Debug/vc141.pdb
astra-body-tracker/astra-body-tracker/x64/Debug/astra-body-tracker.log
astra-body-tracker/astra-body-tracker/x64/Debug/astra-body-tracker.Build.CppClean.log
astra.log
