<div class="row justify-content-center p-1 mt-5">
    <div class="text-center m-4">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="patients">Select Patient</button>
        <mat-menu #patients="matMenu">
            <button mat-menu-item>Patient 1</button>
            <button mat-menu-item>Patient 2</button>
            <button mat-menu-item>Patient 3</button>
            <button mat-menu-item>Patient 4</button>
        </mat-menu>
    </div>
    <div class="text-center m-4">
      <button mat-raised-button color="primary">New Patient</button>
    </div>
</div>
<div class="row justify-content-center">
  <button mat-raised-button color="accent" routerLink ='../test'>START</button>
</div>


